body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff7ed; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    justify-content: center;
    position: relative;
    animation: navbarBottom 1s forwards;
}

.nav img {
    width:150px;
    height:50px;
    position: absolute;
    left: 20px;
}

.nav form, .nav button {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.nav .buttons-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav button {
    background-color: transparent;
    color:gray;
    border: none;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

.nav button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    transition: width 0.3s, left 0.3s;
}

.nav button:hover {
    color: #ff1616;
}

.nav button:hover::after {
    width: 100%;
    left: 0;
}

.nav h2 {
    display: inline-block;
    margin: 0 15px;
    color: red;
}

.menu {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

.menu span {
    cursor: pointer;
    transition: color 0.3s;
}

.menu span:hover {
    color: #ff1616;
}

.menu .sub {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: 200px; /* Set a fixed width or match the width of the submenu content */
    right: 0; /* Align the submenu to the right of the menu */
    top: 100%;
    /* transform: translateX(100%); */
    transition: transform 0.3s ease;
}

.menu:hover .sub {
    transform: translateX(0);
}

.menu .sub li {
    border-top: 1px solid #e0e0e0;
}

.menu .sub li:first-child {
    border-top: none;
}

.menu .sub li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
}

.menu .sub li a:hover {
    background-color: #f8f9fa;
}
@keyframes navbarBottom {
    0% {
        transform: translateY(-70%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#container {
    background-color: white;
    border: 3px solid #0f7700;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 700px;
    margin-top: 20px;
}

#store_div {
    display: flex;
    margin-bottom: 20px;
}

.photo {
    width: 300px;
    height: 300px;
    background-color: #e9ecef;
    margin-right: 20px;
}

.info {
    flex-grow: 1;
    font-weight: bold;
}

#map {
    width: 300px;
    height: 300px;
    background-color: #e9ecef;
}

#book_div {
    margin-bottom: 20px;
}

.people, .datetime {
    margin-bottom: 20px;
}

.people{
	font-size: 18px;
    font-weight: bold;
}

button {
    background-color: white;
    color: #ff1616;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

textarea{
	width:320px;
	height:120px;
	font-size:15px;
    font-weight: bold;
}

.people button{
	width: 50px;
	height: 40px;
}

#bookBtn{
	margin-left: 50px;
	background-color: #ff6554;
	border-radius: 40px;
	border: none;
	color: white;
	width: 80px;
    
}

#goBackBtn{
	background-color: #ff6554;
	border-radius: 40px;
	border: none;
	color: white;
	width: 120px;
	/* height: px; */
}

.styled-input {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 45%;
    margin: 10px 0;
    box-sizing: border-box;
}

.datetime label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.datetime input[type="date"], .datetime input[type="time"] {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    width: 45%;
    margin: 10px 0;
    cursor: pointer;
}

.datetime input[type="date"]:focus, .datetime input[type="time"]:focus {
    border-color: #ff6554;
    box-shadow: 0 0 5px rgba(255, 101, 84, 0.5);
    outline: none;
}


.touch{
    height: 100px;
}

footer{
    width:100%;
    background-color:#fff7ed; 
    bottom: 0;
    position: relative;
    left: 0;
}

.footerContainer {
    margin : 20px auto;
    text-align: center;
	border-top:1px solid #0f7700 ;
	
}
.footerContainer > div>div>span>img {
    margin : 0 auto;
    vertical-align: middle;
    float:left;
}
.logoFont {
    font-family: "Black Han Sans", sans-serif;    
    height: 40px;
}

.footerLogo > span > select{
    width : 180px;
    height: 40px;
    font-size: 13pt;
    float : right;
}

.workLinks > ul{
	margin-right:30px;
}

.workLinks > ul > li {
    display: inline-block;
    margin-top : 20px;
    font-size: 10.6px;
}
.footerLogo {
    margin: 0 auto;
    width : 980px;
}
.footersen {
    font-size: 11px;
    text-align: left;
    margin-left:170px;
}
.footersen>div{
    margin-top: 7px;
}