@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Pretendard-Regular';
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.second div {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}
 
.btn {
 	
    display: flex;
    justify-content:space-evenly;
    margin-top: 5px; /* 버튼과 내용 사이의 간격 조정 */
 	}
 	
.btn button {
	font-size: 15px;
	font-weight:bold;
	width:140px;
	background-color: #ff1616;
    border: none;
    border-radius: 20px;
    padding: 10px 20px; /* 버튼 크기를 조금 크게 조정 */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;

    
}


.btn button:hover {
    background-color: #d60d0d; /* 마우스 호버 시 색상 변경 */
}

button a {
    color: #fff;
    text-decoration: none;
}
