.nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    justify-content: center;
    position: relative;
}

.nav img {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 20px;
}

.nav .buttons-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav button {
    background-color: transparent;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

.nav button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    background-color: #ff1616;
    transition: width 0.3s, left 0.3s;
}

.nav button:hover {
    color: #ff1616;
}

.nav button:hover::after {
    width: 100%;
    left: 0;
}

.logout {
    position: absolute;
    top: 50%; 
    transform: translateY(2%);
    right: 5px;
}

.logout button {
    background-color: transparent;
    color: #000; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s; 
    border-radius: 5px;
    text-decoration: none;
    position: relative;
}

.logout button:hover {
    color: #ff1616;
}

.logout button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    background-color: #ff1616;
    transition: width 0.3s, left 0.3s;
}

.logout button:hover::after {
    width: 0;
    left: 50%;
}

/* 전역 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

/* 컨테이너 스타일 */
.container {
    width: 700px;
    margin: 20px auto;
    height:400px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}


/* 상세 정보 스타일 */
.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.details div {
    flex: 1;
    margin-right: 20px;
}

.details div:last-child {
    margin-right: 0;
}




/* 설명 박스 스타일 */
.description {
    background-color: #fff700;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.description h2 {
    margin-top: 0;
    color: #333;
}

.description ul {
    list-style: none;
    padding: 0;
}

.description li {
    margin: 5px 0;
}
.img{
	width:250px;
	height:250px;

	border:1px solid black;
}
.box{
	width:500px;
	height:250px;
	border:none;
	margin-left:30px;
	margin-top:15.8px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 8px;
}
.box p{
	padding-top:8px;
	padding-left:30px;
	line-height:30px;
	font-size:18px;
}
.flex{
	display:flex;
	justify-content:center;
	
}
#aaa{
	background-color:#ff1616;
	border:0px;
	border-radius:40px;
	color:white;
	margin-top:-0.1px;
	font-size:16px;
	cursor:pointer;
}

#bbb{
	border:0px;
	border-radius:40px;
	margin-top:-0.1px;
	font-size:16px;
	cursor:pointer;
}

#backBtn{
	border:0px;
	border-radius:40px;
	margin-top:-0.1px;
	font-size:16px;
	width:130px;
	height:50px;
	cursor:pointer;
}

.btns{
	width:130px;
	height:50px;	
	display:inline-block;
	margin-left:50px;
	position:relative;
	left:340px;
	top: 60px;
}
.btns form{
	width:100%;
	height:100%;
	display:block;


}
.btns form button{
	width:100%;
	height:100%;
	display:block;	
}

.allbtns{
	margin-left:100px;
}