.nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    justify-content: center;
    position: relative;
    animation: navbarBottom 1s forwards;
}

.nav img {
    width:150px;
    height:50px;
    position: absolute;
    left: 20px;
}

.nav form, .nav button {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.nav .buttons-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav button {
    background-color: transparent;
    color:gray;
    border: none;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

.nav button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    transition: width 0.3s, left 0.3s;
}

.nav button:hover {
    color: #ff1616;
}

.nav button:hover::after {
    width: 100%;
    left: 0;
}

.nav h2 {
    display: inline-block;
    margin: 0 15px;
    color: red;
}
.menu {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

.menu span {
    cursor: pointer;
    transition: color 0.3s;
}

.menu span:hover {
    color: #ff1616;
}

.menu .sub {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: 200px;
    right: 0;
    top: 100%;
    transition: transform 0.3s ease;
}

.menu:hover .sub {
    transform: translateX(0);
}

.menu .sub li {
    border-top: 1px solid #e0e0e0;
}

.menu .sub li:first-child {
    border-top: none;
}

.menu .sub li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
}

.menu .sub li a:hover {
    background-color: #f8f9fa;
}
@keyframes navbarBottom {
    0% {
        transform: translateY(-70%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}