@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Pretendard-Regular';
	display: flex;
	align-items:center;
	background-color:#f8f9fa;
	flex-direction:column;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    justify-content: center;
    position: relative;
}

.nav img {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 20px;
}

.nav .buttons-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav button {
    background-color: transparent;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

.nav button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    background-color: #ff1616;
    transition: width 0.3s, left 0.3s;
}

.nav button:hover {
    color: #ff1616;
}

.nav button:hover::after {
    width: 100%;
    left: 0;
}

.container {
	width:100%;
	max-width:800px;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.optionDiv {
	width:80%;
	height:100px;
	display:flex;
	justify-content:space-around;
}

.btnDiv {
	width:250px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.btnDiv form {
	display:block;
	width:100%;
	height:100%;
}

#btn {
	display:block;
	width:100%;
	height:100%;
	border:none;
	cursor:pointer;
	border-radius:20px;
}

.contentDiv {
	width:100%;
	height:1000px;
}

.labelDiv {
	padding:10px;
}

.bookDiv {
	width:100%;
	height:250px;
	margin-top: 20px;
	background-color:#fff;
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-radius:20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bookContent {
	padding-left:50px;
	width:300px;
	height:100%;
}

.status {
	width:100px;
	height:30px;
	background-color:#EBEBEB;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:30px;
	margin-bottom:10px;
}

.bookContentDiv {
	width:500px;
	display: flex;
}

.bookContentHead {
	width:100px;
	height:30px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:10px;
	margin-bottom:10px;
	background-color: yellow;
}

.bookContentTail {
	width:300px;
	height:100px;
	background-color:#EBEBEB;
}

.bookContentRequirement {
	width:150px;
	height:100px;
	background-color:#EBEBEB;
}

.bookBtnDiv {
	width:100px;
	height:50px;
	margin-right:50px;
}

.bookBtnDiv button {
	display:block;
	width:100%;
	height:100%;
	border:none;
	cursor:pointer;
	background-color:#ff1616;
	border-radius:20px;
	color:white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bookBtnDiv button:disabled {
	background-color:whitesmoke;
	border-radius:20px;
	color:gray;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
